* {
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
}

.container {
	margin: 0 auto;
}

.header {
	margin: 0.8em 0 0.8em 0; 
	text-align: center;
	font-size: 3em;
}

.blog-header {
	font-size: 1.5em;
	width:100%;
	display: flex;
	flex-wrap:wrap;
}

.blog-header__subject {

}

.blog-header__time {
	text-align: right;
	font-weight: lighter;
}

.blog-article {
	font-size: 1.1em;
	text-align: justify;
	margin-bottom: 0.8em;
}

.subheader {
	margin-bottom: 0.8em;
}

input {
	margin-bottom: 1.8em;
}
textarea {
	height: 30vw;
	margin-bottom: 0.8em;
}

button {
	font-size: 0.8em;
}

form {
	margin-top: 1em;
}
label {
	width: 130px;
	float: left;
	text-align: center;
}

label:after {
	content: ": ";
}

.row {
	width: 100%;
}

.col-1 {
	width: calc(100% / 12);
}

.col-2 {
	width: calc(100% * 2/ 12);
}

.col-3 {
	width: calc(100% * 3/ 12);
}

.col-4 {
	width: calc(100% * 4/ 12);
}

.col-5 {
	width: calc(100% * 5 / 12);
}

.col-6 {
	width: calc(100% * 6 / 12);
}

.col-7 {
	width: calc(100% * 7 / 12);
}

.col-8 {
	width: calc(100% * 8 / 12);
}

.col-9 {
	width: calc(100% * 9 / 12);
}

.col-10 {
	width: calc(100% * 10 / 12);
}

.col-11 {
	width: calc(100% * 11 / 12);
}

.col-12 {
	width: calc(100% * 12 / 12);
}